header{


    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;


}

ul{



    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

main{
    transition: 3ms ease;
height: 100vh;
width: 100vw;
display: flex;
  align-items: center;
  justify-content: center;
overflow: hidden;

}


.Login-con{
    
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 5);


   
    grid-column-start: 1;
    grid-column-end:1;
  
    transition: 3ms ease;
    
}

input{
    height: 40px;
    width: 300px;
    margin: 20px;
    background: transparent;
    border: transparent;
    border-bottom: solid 3px #ad6ea5;
    

}

input::placeholder {
    text-align: left;
  }
  
  .Login-con, .reg-con {
    
    transition: order 0.5s ease-in-out;
  }
  
.reg-con{

    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 5);

    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   margin: 5px 5px 5px 5px;

   grid-column-start:2;
   grid-column-end: 2;
  
   transition: 300ms;
}


footer{


    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }


    body{

        flex-direction: column;
        margin: 0;
        padding: 0;
        background-image: url(/testcode/img/kununu-arbeitgeber-profil.webp);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
    }

    h3{


        font-size: 55px;
        padding: 2px;
        margin: 3px;




    }
    

    .flex-box{
        height: 500px;
        width: 500px;
        overflow: hidden;
        transition: 3ms ease;
        display: grid;
        grid-template-columns: 500px 500px ;
        grid-template-rows:  500px ;

          /*

        column-gap: 5px;
        row-gap: 5px;         

        */


    }


    button{

        background-color: #ad6ea5;
        border: transparent;
        border-radius: 22px   ;
        margin: 20px;
        width: 160px;
        height: 30px;
        cursor: pointer;


    }

    button:hover{

        background-color: rgba(255, 0, 170, 0.1);


    }

    #zeigPasswordButton{

        background: transparent;
        border: transparent;
        color: blue;
        width: 80px;
        height: 20px;
        margin: 0;


    }

    .link{

        color: #ad6ea5;
        cursor: pointer;
        

    }
  
    p{



        margin: 0;
    }

  