body{

background-image: url(/Portfolio/image/background.webp);

height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
background-size: cover; /* Bild deckt den gesamten Bereich ab */
background-position: center; /* Bild wird zentriert */
margin: 0; 


}



main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 90%; /* Begrenzung auf 90% der Bildschirmbreite */
    padding: 20px; /* Abstand innerhalb von main */

}

p {
    font-size: 20px;
    max-width: 900px;
    max-height: 80vh; /* Einschränkung der Höhe für bessere Kontrolle */
    line-height: 1.6; /* Zeilenabstand zur Verbesserung der Lesbarkeit */
    padding: 10px; /* Abstand um den Text herum */
    overflow-y: auto; /* Scrollbar, falls Text die max-height überschreitet */
    background-color: rgba(255, 255, 255, 0.8); /* leichter Hintergrund für bessere Lesbarkeit */
    border-radius: 8px; /* Abrundung der Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten für bessere Sichtbarkeit */
}


.img-con{
    max-width: 900px;
    max-height: 1600px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.img-con img {
    
    max-width: 600px; /* Bild auf maximale Breite beschränken */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 500px;
}
