header{


    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;


}

ul{



    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
}

main{
    transition: left 0.5s ease-in-out;
height: 100vh;
width: 100vw;
display: flex;
  align-items: center;
  justify-content: center;
overflow: hidden;

}


.Login-con{
    position: relative;
    top: 0%;
    left: 0%;
    width: 500px;
    height: 500px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 5);

    transition: left 0.5s ease-in-out;
   
    grid-column-start: 1;
    grid-column-end:1;
  
    
    
}

input{
    height: 40px;
    width: 300px;
    margin: 20px;
    background: transparent;
    border: transparent;
    border-bottom: solid 3px #ad6ea5;

    
    box-shadow: none; 
    
  }



input::placeholder {
    text-align: left;
  }





  input:focus {
    border-color: green; 
    
  }
  

  input:hover {
    background-color: wheat; /* Hintergrundfarbe beim Hover */
  }

 
  .Login-con, .reg-con {
    
    transition: left 0.5s ease-in-out;
  }
  
.reg-con{
    position: relative;
    top: -100%;
    left: 100%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 5);
    width: 500px;
    height: 500px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

   grid-column-start:2;
   grid-column-end: 2;
   transition: left 0.5s ease-in-out;
   
}


footer{


    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }


    body{

        flex-direction: column;
        margin: 0;
        padding: 0;
        background-image: url(/Portfolio/image/background.webp);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
    }

    h3{


        font-size: 55px;
        padding: 2px;
        margin: 3px;




    }
    

    .flex-box{
        height: 500px;
        width: 500px;
        overflow: hidden;
        transition: left 0.5s ease-in-out;
        

       

       /* grid-template-columns: 500px 500px ;
        grid-template-rows:  500px ;

          /*

        column-gap: 5px;
        row-gap: 5px;         

        */


    }


    button{

        background-color: #ad6ea5;
        border: transparent;
        border-radius: 22px   ;
        margin: 15px;
        width: 160px;
        height: 30px;
        cursor: pointer;
        

    }

    button:hover{

        background-color: rgba(255, 0, 170, 0.1);


    }

    #zeigPasswordButton{
        position: relative;
       left: -25%;
        background: transparent;
        border: transparent;
        color: blue;
        width: 80px;
        height: 20px;
        margin: 0;


    }

    .link{

        color: #ad6ea5;
        cursor: pointer;
        

    }
  
    p{



        margin: 0;
    }

    